* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.calculatorParent{margin:auto;}
.calculatorBody {
    background: rgba(157, 97, 218, 0.801);
    width: fit-content;
  
}

.calculatorParent {
    background: rgba(30, 10, 49, 0.801);
    width: 270px;
}

.buttons {
    margin:auto;
    width: 90px;
    height: 90px;
    font-size: large;
    color: orange;
}

.numbers {
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 120px 100px 120px 90px;
    justify-content: space-evenly;
}
.operations{display:grid;grid-template-columns:40px 90px 20px;grid-template-rows: 80px 100px;}
.display {
    font-size: larger;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: solid 1px white;
    border-radius: 5px;
    background: rgb(48, 17, 48);
}